/* Mobile first (default) */
.container {
  flex-direction: column;
  padding: 16px;
  flex-wrap: wrap;
  align-content: space-around;
}

/* Desktop override */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
    padding: 32px;
    flex-wrap: wrap;
    align-content: space-around;
  }
}

.container img {

        max-width: 80%;
        height: auto;
        display: block;
        border-radius: 10px;
        border-style: groove;

}

.container video {

        
        max-width: 70%;
        height: auto;
        display: block;
        border-radius: 10px;
        border-style:hidden;

}

.Conclusion {
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: column;
        align-content: space-around;
        border-style: groove;
        border-radius: 20px;
        max-width:inherit;
        
}

.Agenda {
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: column;
        align-content: space-around;
        border-style: groove;
        border-radius: 20px;
        max-width:inherit;

        
}

.Introduction {
        padding: 10px;
        margin: 10px;
        display: flex;
        flex-wrap:nowrap;
        flex-direction: column;
        align-content: space-around;
        border-style: groove;
        border-radius: 20px;
        max-width: inherit;
        
}

h1 {

        color: rgb(221, 7, 7);

}

